{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h2>{{ details.title }}</h2></div>
        <div class="panel-body">
            <h4>{{ details.description }}</h4>
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item"><b>Cena Kup Teraz:</b> {{ details.price }}PLN</li>
            <li class="list-group-item"><b>Cena wywoławcza:</b> {{ details.startingPrice }}PLN</li>
            <li class="list-group-item"><b>Aukcja kończy się:</b> {{ details.expiresAt | expireDate }}</li>
        </ul>
    </div>

    <hr>

    <div class="panel panel-default">
        <ul class="list-group">
            {% for offer in details.offers %}
                <li class="list-group-item">Oferta: {{ offer.price }} | Złożona: {{ offer.createdAt| date("Y-m-d H:i:s") }}</li>
            {% endfor %}
        </ul>
    </div>

    {% if is_granted("ROLE_USER") %}
        <div class="panel panel-success">
            <div class="panel-body">
                {{ form_start(buyForm, {"attr": {"class": "pull-left" , "style": "padding: 10px"}}) }}
                    {{ form_widget(buyForm.submit, {"attr": {"class": "btn-success"}}) }}
                    {{ form_rest(buyForm) }}
                {{ form_end(buyForm) }}

                <div class="input-group">
                    {{ form_start(bidForm, {"attr": {"novalidate": "novalidate", "style": "padding: 10px"}}) }}
                       <div class="input-group">
                           {{ form_widget(bidForm.price, {"attr": {"placeholder": "Cena do licytacji..."}}) }}
                            <span class="input-group-btn">
                                {{ form_widget(bidForm.submit) }}
                            </span>
                       </div>
                        {{ form_rest(bidForm) }}
                    {{ form_end(bidForm) }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="clear-fix"></div>

    <hr>

    <a class="btn btn-large btn-default pull-left" href="{{ url('auction_index') }}">Powrót</a>

    {% if not is_granted("ROLE_USER") %}
        <h4>Żeby kupować musisz się zalogować ! :) </h4>
    {% endif %}
{% endblock %}


