{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista aukcji</h1>

    {% for auction in auctions %}

        <div class="panel {{ styleAuction(auction.expiresAt) }}">
            <!-- Default panel contents -->
            <div class="panel-heading"><h2><a href="{{ url('auction_details', {"id": auction.id}) }}">{{ auction.title }}</a></h2></div>
            <div class="panel-body">
                <h4>{{ auction.description }}</h4>
            </div>

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item"><b>Cena Kup Teraz:</b> {{ auction.price }}PLN</li>
                <li class="list-group-item"><b>Cena wywoławcza:</b> {{ auction.startingPrice }}PLN</li>
                <li class="list-group-item"><b>Aukcja kończy się:</b> {{ auction.expiresAt | expireDate }}</li>
            </ul>
        </div>
    {% else %}
        <div class="panel panel-warning">
            <div class="panel-body">
                <h3>Brak aktywnych aukcji</h3>
            </div>
        </div>
    {% endfor %}

{% endblock %}


