{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h2>{{ details.title }}</h2></div>
        <div class="panel-body">
            <h4>{{ details.description }}</h4>
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item"><b>Cena Kup Teraz:</b> {{ details.price }}PLN</li>
            <li class="list-group-item"><b>Cena wywoławcza:</b> {{ details.startingPrice }}PLN</li>
            <li class="list-group-item"><b>Aukcja kończy się:</b> {{ details.expiresAt | expireDate }}</li>
        </ul>
    </div>

    <hr>

    <div class="panel panel-default">
        <ul class="list-group">
            {% for offer in details.offers %}
                <li class="list-group-item">Oferta: {{ offer.price }} | Złożona: {{ offer.createdAt| date("Y-m-d H:i:s") }}</li>
            {% endfor %}
        </ul>
    </div>

    <hr>

    <a class="btn btn-large btn-default pull-left" href="{{ url('my_auction_index') }}">Powrót</a>
    <a class="btn btn-large btn-info pull-left" href="{{ url('my_auction_edit', {"id":details.id}) }}">Edytuj</a>

    {{ form_start(deleteForm, {"attr": {"class": "pull-left"}}) }}
        {{ form_widget(deleteForm.submit, {"attr": {"class": "btn-danger"}}) }}
        {{ form_rest(deleteForm) }}
    {{ form_end(deleteForm) }}

    {{ form_start(finishForm, {"attr": {"class": "pull-left"}}) }}
        {{ form_widget(finishForm.submit, {"attr": {"class": "btn-warning"}}) }}
        {{ form_rest(finishForm) }}
    {{ form_end(finishForm) }}


        <div class="clearfix"></div>

{% endblock %}


